[defaults]
log_path                = ./ansible.log
fact_caching_connection = ./out
host_key_checking       = False
ask_pass                = False
callback_whitelist      = profile_tasks
stdout_callback         = full_skip
vault_password_file     = ~/.ssh/ansible.yml
#####interpreter_python = auto_silent
interpreter_python       = python3

[inventory]
ignore_extensions       = {{(BLACKLIST_EXTS+('~','.orig','.cfg','.retry','README.md'))}}

[privilege_escalation]
#become                 = yes
become_method           = sudo
become_user             = root
become_ask_pass         = False

[paramiko_connection]
banner_timeout = 5.0
remote_port = 22
timeout = 10

[ssh_connection]
pipelining = True
retries = 1

[persistent_connection]
command_timeout=10
connect_timeout=10

[accelerate]

[selinux]

[colors]

[diff]
